[submodule "CleanroomLogger"]
	path = CleanroomLogger
	url = https://github.com/soduto/CleanroomLogger.git
[submodule "NMSSH"]
	path = NMSSH
	url = https://github.com/soduto/NMSSH.git
[submodule "Reachability.swift"]
	path = Reachability.swift
	url = https://github.com/soduto/Reachability.swift.git
[submodule "CocoaAsyncSocket"]
	path = CocoaAsyncSocket
	url = https://github.com/soduto/CocoaAsyncSocket.git
[submodule "OpenSSL/openssl"]
	path = OpenSSL/openssl
	url = https://github.com/openssl/openssl.git
[submodule "LibSSH2/libssh2"]
	path = LibSSH2/libssh2
	url = https://github.com/libssh2/libssh2.git
